@model List<ExchangeViewModel.Exchange_Rates>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />

<table class="table table-hover">
    <tr>
        <th>Döviz</th>
        <th>Miktar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.currency</td>
            <td>@item.exchange_rate_buy</td>
        </tr>
    }
    
</table>